@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700?font-display=swap';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

.transition {
	transition: all 0.4s ease-in-out;
}

.offcanvas {
	transform: translateY(100%);
}
